
<section class="section_info_1_proyectos">
    <h2>Velocimetro WearOs</h2>
    
    <h3 style="text-align: left;">Información</h3>
    <p>Esta aplicación te permite ver la velocidad que llevas actualmente por medio del GPS que lleva incorporado tu dispositivo wearable, a diferencia de otras aplicaciones, esta puede tomar capturas con solo presionar un botón de la pantalla principal.</p>
    <h3 style="text-align: left;">Fotos/Videos</h3>
    <p>Esta aplicación te permite ver la velocidad que llevas actualmente por medio del GPS que lleva incorporado tu dispositivo wearable, a diferencia de otras aplicaciones, esta puede tomar capturas con solo presionar un botón de la pantalla principal.</p>
    
</section>