//Fondo de pantalla
$page_backgroud: #e2e2e2;

//NAVBAR
$navbar_color_backgroud: #c0c0c0;


//TEMAS
$color_background_titles: #969696 !default;//Color de fonto para los titulos (cajas)
$color_foreground_text: rgb(27, 27, 27) !default;//Color de fonto del texto
$color_foreground_text_invert: rgb(3, 3, 3) !default;
$color_box_projects: #d3d3d3 !default;
$color_box_projects_light: #7c7c7c !default;

$textWhite: #ffffff !default;



h3, span{
    color: $color_foreground_text;
}

.section_info_title
{
    vertical-align: middle;
    text-align: center;
    //padding-top: 50px;
}

.section_info_title h2
{
    background-color: $color_background_titles;
    color: $color_foreground_text_invert;
    padding: 5px 20px;
}

.align_left_gradient_h3
{
    background: linear-gradient(
        to right,
        $color_background_titles, 
        transparent
      );    text-align: left;
    display: block;
    width: 400px;
    padding: 5px 0 5px 40px;
    border-radius: 0px;
}
