<div class="table_foto_perfil">
    <img draggable="false" id="foto_perfil" src="./../../../assets/images/afb10878-048e-46c7-961c-6135cf74e48a.jpg" alt="">
</div>

<div class="table_datos_perfil">
    <section class="datos_autor">
        <h1>Demos un vistaso</h1>
        <h2>Me presento. Soy Raul Villate, Web developer</h2>
        
    </section>
</div>

<section class="about_me">
    <hr>
    <p>
        Desde muy pequeño me he entusiasmado por aprender a programar, he demostrado un gran interés por crear cosas nuevas que faciliten la vida de las personas. Cuando creo algo siempre velo porque sea lo más perfecto posible a la espera de satisfacción de mis clientes. 
    </p>
</section>

<section class="skills section_info_title">
    <h2 style="user-select: none;">SKILLS</h2>
    <h3 style="user-select: none;" class="align_left_gradient_h3">Habilidades blandas</h3>
    <p class="item">Creativo</p>
    <p class="item">Responsable</p>
    <p class="item">Agil en lo que me propongo</p>
    <p class="item">Trabajo en equipo</p>
    <p class="item">Colaborador</p>
    <p class="item">Aprendo con facilidad</p>
    <p class="item">Buen manejo de estrés</p>
    <p class="item">Abierto a nuevos cambios</p>
    <p class="item">Siempre curioso</p>
    <p class="item">Organizado</p>
    <p class="item">Capaz de trabajar independientemente</p>
    <p class="item">Eficiente y efectivo</p>
</section>

<section class="skills section_info_title">
   
    <h3 style="user-select: none;" class="align_left_gradient_h3">Habilidades duras</h3>
    <p class="item">Rápido analisis de incidentes</p>
    <p class="item">Alta automativación para el trabajo en equipo</p>
    <p class="item">Capaz de generar parches rápidos si se requiere</p>
    <p class="item">Apoyar a equipos para la solución de requerimientos</p>
    <p class="item">Habilidades para desarrollar Software de escritorio como Web</p>
    <p class="item">Pensamiento emprendedor</p>
    <p class="item">Creación de graficos animados y animaciones en CSS</p>
    <p class="item">Habilidades en la edición de Videos</p>

</section>

<section class="skills section_info_title">
    <h3 style="user-select: none;" class="align_left_gradient_h3">Skills técnicos</h3>

    <table style="color: white;" border="1">
        <tr>
            <th><span>Skills</span></th>
            <th><span>Avance</span></th>
        </tr>
        <tr>
            <td><span>Angular</span></td>
            <td><span class="estrellas">★★★★★★★★★★</span></td>
        </tr>
        <tr>
            <td><span>HTML</span></td>
        </tr>
        <tr>
            <td><span>CSS / CSS3</span></td>
        </tr>
        <tr>
            <td><span>PHP</span></td>
        </tr>
        <tr>
            <td><span>Mysql</span></td>
        </tr>
        <tr>
            <td><span>Postgre SQL</span></td>
        </tr>
        <tr>
            <td><span>C# / CSharp</span></td>
        </tr>
    </table>
</section>


