@import '../../../assets/scss/styles.scss';



//section 1
.section_info_1_proyectos h2
{
    background-color: $color_background_titles;
    color: $color_foreground_text_invert;
    padding: 5px 20px;
}

.section_info_1_proyectos
{
    vertical-align: middle;
    text-align: center;
}

.section_info_1_proyectos .cajas
{
    background-color: $color_box_projects;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 5px;
    border-radius: 50%;
    padding: 10px;
    transition: .1s;
    position: relative;
    color: $color_foreground_text;
    cursor: pointer;
    user-select: none;
}
.section_info_1_proyectos .cajas:hover
{
    background-color: $color_box_projects_light;
    transition: .1s;
    
    $difusion: 20px;
    
    box-shadow: 
    -10px -10px $difusion rgba(255, 0, 128, 0.2),
    10px 10px $difusion rgba(255, 0, 255, 0.2),
    -10px 10px $difusion rgba(255, 0, 179, 0.2),
    10px -10px $difusion rgba(212, 0, 255, 0.2);
    
}
.cajas p
{
    text-align: center;
    padding-top: 10px;
    color: $color_foreground_text_invert;
}

.cajas img
{
    width: 50%;
    left: 25%;
    top: 45px;
    position: absolute;
}

@media (max-width: 700px) {
    .section_info_1_proyectos .cajas
    {
        background-color: $color_box_projects;
        display: inline-block;
        width: 200px;
        height: 200px;
        margin: 2%;
    }
}
