<section class="section_info_1_proyectos">
    <h2>Aplicaciones Android</h2>
    <div id="cajasId" class="cajas">
        <p>IMC Corporal</p>
        <img id="img_cajaId" class="img_caja" src="https://lh3.googleusercontent.com/9LU0V0m1HrXIgUnbxtLGpL3D4P0Y4xiwfwfJp7no816-0lfoL9MlmzQaVxz9kcKRug" alt="">
    </div>

    <div class="cajas" (click)="goToVelocimetroWearos1()">
        <p>Velocimetro WearOs</p>
        <img id="img_cajaId" class="img_caja" src="https://lh3.googleusercontent.com/tcHpGIG0vELG8YRnkEPmyDNF8OxWSpOEAwxvNO9TDv81QZP5NWs5H9pebm0ODSItyEw" alt="">

    </div>

    
 
</section>