<section class="data">
   
    
    <section class="skills section_info_title">
        <h2 style="user-select: none;">IMC Corporal</h2>
        <h3 style="user-select: none;" class="align_left_gradient_h3">Habilidades blandas</h3>
        

        
    </section>
    
    <section class="skills section_info_title">
       
        <h3 style="user-select: none;" class="align_left_gradient_h3">Habilidades duras</h3>
        
    
    </section>
    
    <section class="skills section_info_title">
        <h3 style="user-select: none;" class="align_left_gradient_h3">Skills técnicos</h3>
    </section>
    
    
</section>




